rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isVerifiedAdmin() {
      return request.auth != null &&
             request.auth.token.email_verified == true;
    }

    function isValidFile() {
      return request.resource.size < 8 * 1024 * 1024
          && request.resource.contentType.matches('image/.*|video/.*');
    }

    function isValidImage() {
      return request.resource.size < 8 * 1024 * 1024
          && request.resource.contentType.matches('image/.*');
    }

    match /tourismSites/{allPaths=**} {
      allow read:   if true;
      allow write:  if isVerifiedAdmin() && isValidFile();
      allow delete: if isVerifiedAdmin();
    }

    match /videos/{fileName} {
      allow read:  if true;
      allow write: if isVerifiedAdmin();
    }

    match /test/{fileName} {
      allow read, write: if isVerifiedAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
